doctype
html
	head
		title Køb pokersæt (restparti - gode til prisen)
		link(rel="stylesheet", href="./index.css")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	body
		header
			a.logo(href="/")
				if logo
					img(src=logo)
				else
					= name

			div.basket.empty.closed
				a(href="#", alt="Basket") Kurv
					span.count 0

				div.popup

		main
			block main

		footer
			p Billigpoker.dk ejes og drives af src.agency ApS

			p src.agency ApS, Grønningen 5, 8000 Aarhus C • CVR: 35247599

			p
				a(href="mailto:kontakt@billigpoker.dk", alt="Kontakt os") kontakt@billigpoker.dk

				| &nbsp;•&nbsp;

				| +45 61 78 27 47 (hverdage 10:00-16:00)

				| &nbsp;•&nbsp;

				a(href="/betingelser.html") Handelsbetingelser

			div.payment-methods
				img(src="/images/visa.svg", alt="Visa")
				img(src="/images/mastercard.svg", alt="MasterCard")

		script(src="https://sdk.paylike.io/3.js", defer)
		script(src="./index.js", defer)
