extends ./partials/layout

block main
	h1 Handels- og forsendelsesbetingelser

	p

		| Billigpoker.dk er ejet af src.agency, som handlen og denne aftale indgås
		| med.

	h2 Privatlivs- og fortrolighedspolitik

	p

		| Vi ønsker at værne om dit privatliv på internettet og sælger eller
		| deler derfor ikke data om dig, hverken private, anonyme eller
		| kreditkortoplysninger.

		| Dine personlige oplysninger bliver kun videregivet til vores
		| betalingspartner (Paylike) i forbindelse med gennemførelse af købet, og
		| opbevares herefter ikke i vores systemer.

	h2 Bestilling

	p

		| Der kan kun bestilles varer hos Billigpoker.dk ved brug af hjemmesiden
		| eller henvendelse via email.

	p

		| Alle priser er opgivet i DKK og er inkl. moms, afgifter og told.

	h2 Betaling

	p

		| Ved betaling er du sikret mod misbrug under henholdsvis Visa eller
		| MasterCards regler.

	p

		| Beløbet for dine varer trækkes først, når vi afsender varerne. Vi vil aldrig trække et større beløb, end det, du har godkendt ved betaling.

	p

		| I vores e-butik kan du betale med følgende betalingsmidler: Visa, VisaDankort, Visa Debit, Visa Electron, MasterCard, MasterCard Debit og Maestro.

	h2 Levering

	p

		| Der leveres kun til kunder i Danmark. Afhenting er muligt i Hjørring
		| eller Aarhus ved forudgående aftale per email.

	p

		| Postdanmark står for leveringen af produkter i Danmark.

	h2 Fortrydelsesret

	p

		| Når du returnerer og ønsker at benytte din fortrydelsesret, kan det kun
		| ske såfremt varen returneres i væsentlig samme stand og mængde som da du
		| modtog den. Fortrydelsesretten bortfalder derfor, hvis du bruger varen
		| på en måde, hvor det er helt åbenbart at brugen formindsker varens
		| salgsværdi væsentligt.

	p

		| Når du benytter fortrydelsesretten skal du vedlægge kvitteringen for
		| forsendelsen, når du returnerer varen. Du vælger selv hvordan du vil
		| retunere varen.

	p

		| Returnering af varer sker på adressen:<br />
		| Dalslugten 5<br />
		| 9800 Hjørring<br />

	p

		| Når du fortryder købet tilbagebetales købesummen til samme betalingskort, som blev benyttet ved købet.

	h2 Reklamation

	p

		| Du har altid 2 års reklamationsret. Altså kan du enten få varen
		| repareret, ombyttet, pengene tilbage eller afslag i prisen, afhængig af
		| den konkrete situation. Dette betinger selvfølgelig at reklamationen er
		| berettiget, og at manglen ikke er opstået som følge af en fejlagtig brug
		| af produktet eller anden skadeforvoldende adfærd.

	p

		| Der skal reklameres inden rimelig tid efter at du har opdaget manglen
		| ved varen. Hvis der reklameres inden to måneder, vil reklamationen altid
		| være rettidig.

	p

		| Vi refunderer rimelige fragtomkostninger, som du måtte have i
		| forbindelse med returnering af varen, når reklamationen er berettiget.

	p

		| Kontakt os venligst per email, inden du sender en varer retur.

	p

		| Når du returnerer varen, bedes du vedlægge en grundig beskrivelse af
		| fejlen samt din email.

	p

		| Bemærk: vi modtager ikke pakker sendt pr. efterkrav.

	p

		| Husk altid at sende varen tilbage i forsvarlig emballage, og få en
		| kvittering for afsendelse, således at vi kan tilbagebetale dig dine
		| omkostninger.
